* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    width: 100%;
    height: 60px;
    background: #fff;
    box-shadow: 0px 0px 5px #111;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}
header a{
    text-decoration: none;
}
.leftDiv{
    position: fixed;
    top: 80px;
    left: 0;
    width: 250px;
    height: 100vh;
    background: #fff;
    box-shadow: 0px 0px 5px #111;
}
.rightDiv{
    width: 75%;
    margin: 80px 10px;
    min-height: calc(100vh - 100px);
    background: #fff;
    box-shadow: 0px 0px 5px;
    float: right;
}

/*---Categories Manage CSS---*/
.rightDiv .headTitle{
    width: 100%;
    background: #f2f2f2;
    height: 80px;
    padding: 0px 20px;
}
.rightDiv .headTitle h2{
    padding: 10px 0;
}
.rightDiv .headTitle a{
   text-decoration: none;
   color: #111;
   font-size: 1em;
}
.rightDiv .headTitle a:hover{
    color:red;
}
.rightDiv form{
    width: 100%;
    padding: 10px 100px;
}
.rightDiv form input[type="text"]{
    width: 100%;
    padding: 15px 10px;
    outline: none;
    border: 1px solid #111;
    margin: 10px 0;
}
.rightDiv form input[type="submit"]{
    width: 100%;
    padding: 15px 10px;
    outline: none;
    border: 0;
    background: #009688;
    color: #fff;
    font-size: 1.2em;
    letter-spacing: 1px;
    cursor: pointer;
}
.msg{
    color: red;
    padding: 10px 0;
}
.view{
    width: 100%;
    padding: 10px 100px;
}
table{
    text-align: center;
}
table th, table td{
    padding: 10px 0;
}
table td a{
    text-decoration: none;
    font-size: 1em;
}